registry = https://wsssupport.jfrog.io/artifactory/api/npm/wss-npm/
_auth = eGlueXVhbi5ndW9Ad2hpdGVzb3VyY2Vzb2Z0d2FyZS5jb206QVB3VUJockI4WGF1Nm8zYnNRTnlzYUVIRko=
email = xinyuan.guo@whitesourcesoftware.com
always-auth = true
